<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinanzasDBConnection"
             connectionString="Server=R2D3;Database=FinanzasDB;Trusted_Connection=True;User Id=sa;elsupermono1;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>